<div class="footer-basic">
  <footer>
      <ul class="list-inline">
          <li class="list-inline-item">
            <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="list-inline-item">
            <a class="nav-item nav-link" routerLink="/coaches" routerLinkActive="active">Speakers</a>
          </li>
          <li class="list-inline-item">
            <a routerLink="/checkout" routerLinkActive="active" class="nav-item nav-link" >Register</a>
          </li>
          <li class="list-inline-item">
            <a routerLink="/contact" routerLinkActive="active" class="nav-item nav-link" >Contact</a>
          </li>

      </ul>
      <p class="copyright">Timeout © 2023</p>
  </footer>
</div>

