
<img
  src="assets/images/timeout_final_small.png"
  class="img-thumbnail"
  alt="..."
/>

<!-- <hr class="hr hr-blurry" /> -->

<img
  src="assets/images/march2.png"
  class="img-fluid hover-shadow"
  alt=""
/>

<div class="card">
  <img src="assets/images/price75.png" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">International Basketball Coaches Clinic at
      <a href="https://facilities.burlington.ca/Home/Detail?CategoryIds=&FacilityTypeIds=&Keywords=haber&ScrollTo=scroll-map-list-container&CloseMap=true&Id=a296248a-a914-431e-a837-509e24791899" class="link-primary">Haber Recreation Centre</a>, Burlington Ontario</h5>
    <p class="card-text">The Timeout offers a coaching clinic on Saturday, March 18th, and Sunday, March 19th.  The event is open to all coaches – new and experienced. We’ve put together an impressive list of speakers from various levels of the game, including High School, University, and international clubs.</p>
    <h6><del>$100.00 CAD</del> $75.00 CAD</h6>
    <button class="btn btn-primary" (click)="goToRegister()">Register now</button>
  </div>
</div>


