<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">
      <img style="float: left; padding: 0px 0px 0px 10px;" src="assets/images/basketball_small_trimed.png" height="48"  alt="Timeout">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
      id="navbarNavAltMarkup"
      [ngClass]="{ 'show': navbarOpen }">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" routerLink="/"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="/coaches" routerLinkActive="active" class="nav-item nav-link">Speakers</a>
        <a routerLink="/checkout" routerLinkActive="active" class="nav-item nav-link" >Register</a>
        <a routerLink="/contact" routerLinkActive="active" class="nav-item nav-link" >Contact</a>
      </div>
    </div>
  </nav>
  <br/>

  <!-- <app-placement-list></app-placement-list>
  <app-delivery-list></app-delivery-list> -->
  <router-outlet></router-outlet>

  <app-footer></app-footer>
</div>
