

<img
  src="assets/images/timeout_final_small.png"
  class="img-thumbnail"
  alt="..."
/>


<hr class="hr hr-blurry" />

<div class="card">
  <img class="card-img-top" src="assets/images/chris_cheng.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">
      <a href="https://www.basketball.ca/news/chris-cheng-inspiring-on-and-off-court-get-into-uncommon-spaces-and-make-it-common"
      class="link-dark">Chris Cheng</a>
    </h5>

    <p class="card-text">
      <b>Head Coach</b> - Men’s Basketball University of Windsor
    </p>
  </div>
</div>

<hr class="hr hr-blurry" />

<div class="card">
  <img class="card-img-top" src="assets/images/Denis_ukraine.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">
      <a href="https://www.fiba.basketball/europecup/20-21/team/BC-Dnipro" class="link-dark">Denis Zhuravlev</a>
    </h5>
    <h6>Denis Zhuravlev is Ukrainian basketball coach with national and international level experience. </h6>
    <p class="card-text">
      Denis was the assistant coach of the Ukrainian national team at the 2014 FIBA World Cup in Spain 2014.

    </p>
  </div>
</div>

<hr class="hr hr-blurry" />
<div class="card">
  <img class="card-img-top" src="assets/images/MadhavTrivedi3.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">
      <a href="https://varsityblues.ca/sports/mens-basketball/roster/coaches/madhav-trivedi/6546" class="link-dark">Madhav Trivedi</a>
    </h5>
    <p class="card-text">
      <b>Head Coach</b> - Men’s Basketball University of Toronto Varsity Blues.
    </p>
  </div>
</div>
<hr class="hr hr-blurry" />
<div class="card">
  <img class="card-img-top" src="assets/images/AjaySharma2.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">
      <a href="https://humberhawks.ca/sports/wbkb/coaches/Sharma_Ajay" class="link-dark">Ajay Sharma</a>
    </h5>
    <p class="card-text">
      <b>Head Coach</b> - Women’s Basketball, Humber College (CCAA)
    </p>
  </div>
</div>
