<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
        </div>

        <div class="card rounded-3 mb-4" *ngIf="early_birds">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="assets/images/price75.png"
                  class="img-fluid rounded-3" alt="Basketball Clinic">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">Basketball Clinic at Haber Recreation Centre</p>
                <p><span class="text-muted">Date: </span>Saturday, March 18th, and Sunday, March 19th</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                <input id="form1" min="1" name="quantity" value="1" type="number"
                  class="form-control form-control-sm"
                  (input)="onInputQuantityChange($event.target.value)"/>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">{{totalPrice|currency}}</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="card rounded-3 mb-4" *ngIf="!early_birds">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="assets/images/ticket.png"
                  class="img-fluid rounded-3" alt="Basketball Clinic">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">Basketball Clinic at Haber Recreation Centre</p>
                <p><span class="text-muted">Date: </span>Saturday, March 18th, and Sunday, March 19th</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                <input id="form1" min="1" name="quantity" value={{totalQuantity}} type="number"
                  class="form-control form-control-sm"
                  (input)="onInputQuantityChange($event.target.value)"/>

              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">{{totalPrice|currency}}</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
            <div class="card-body">
              <!-- <div class="form-group">
                <label for="inputNameOnCard"><b>Name on card</b></label>
                <input type="text" class="form-control" id="inputNameOnCard" formControlName="name" placeholder="Name on card">
              </div> -->

              <!-- <div class="form-group">
                <label for="inputEmail"><b>Email address</b></label>
                <input type="email" class="form-control" id="inputEmail" formControlName="email" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div> -->

              <hr class="hr hr-blurry" />

              <div class="form-group">

                <div formGroupName="creditCard" class="form-control">
                  <!-- <h3>Credit or Debit Card</h3> -->
                  <label for="credit or Debit Card"><b>Credit or Debit Card</b></label>
                  <div id="card-element">

                  </div>

                  <div id="card-errors">

                  </div>
                </div>
              </div>
            </div>



            <div class="card-body text-center">
              <button type="submit" class="btn btn-primary">Pay</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

</section>
